body {
    font-family: "Comfortaa";
}

main {
    margin-right: 10%;
}
h1, h2, h3, h4 {
    margin-top: 10px;
    color: #7018FF;
    font-size: 24pt;
}

.date {
    color: #0c02447a;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 50px;
    margin-top: 10px;
}

.card {
    margin-top: 10px;
}

.title {
    color: #7018FF;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
    margin-top: 15px;
}

footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.btn {
    background: #7018FF;
    border-color: #7018FF;
    color: #FFFFFF;
}